{% load static %}

<!DOCTYPE html>
<html>
<head>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="{% static 'scripts.js' %}"></script>

</head>
<body>
    <div class="login-container">
        <h2>Connexion</h2>
        <form id="loginForm" method="post">
            {% csrf_token %}
            <div class="form-control">
                <label for="username">Nom d'utilisateur</label>
                <input id="username" type="text" name="username" required>
            </div>
            <div class="form-control">
                <label for="password">Mot de passe</label>
                <input id="password" type="password" name="password" required>
            </div>
            <div class="form-control">
                <label for="otp">Code à usage unique</label>
                <input id="otp" type="text" name="otp" required>
            </div>

            <button type="submit">Connectez-vous</button>
        </form>
    </div>
    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>